* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Luckiest Guy";
  }
  
  .profile-container {
    display: flex;
    margin-left: 20vw;
    width: calc(100vw - 20vw); 
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll; 
  }
  
  .profile-screen {
    flex: 1;
    font-size: 2rem;
    position: relative;
  }
  
  .profile-info {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    height: 100%;
  }
  
  .profile-top {
    display: flex;
    margin-left: 5rem;
    width: 100%;
    height: 40%;
  }
  
  .profile-pic img{
    width: 100%;
    box-shadow: none;
    height: 80%;
    object-fit: fill;

  }
  
  .profile-pic{
    align-items:baseline;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 50px;
  }



  
  .profile-description {
    width: 40%;
    padding: 15px;
  }

  .profile-string {
    font-family: "Quicksand", sans-serif; 
    font-size: 16px;
    color: #000; 
    margin: 7px;
}

.profile-rating{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile-rating img{
    margin-right: 7px;
}

.rating {
    font-family: "Quicksand", sans-serif; 
    font-weight: bold;
    font-size: 12px;
    color: #000; 
}

.profile-location{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}


.profile-text{
    display: flex;
    align-items: start;
}

.profile-text img{
    margin-top: 5px;
}

.dropDownMenu {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropDownMenuBtn{
  position: right;
  align-self: center;
  padding: 5px;
}

.profile-bottom {
    width: 100%;
    height: 50%;
  }


.line-divider{
  position:relative;
  top: 10px;
  height: 1px;
  width: 80%;
  background-color: #000;
}

.profile-posts{
  position: relative;
  top: 10px;
  display: grid;
  grid-template-columns: 12vw 12vw 12vw;
  gap: 15px;
  margin-top: 15px;
}

.popup-create-post {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background: white;
  border-radius: 16px 0 0 16px;
  box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-create-post .close {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.popup-create-post .close button {
  background: none;
  border: none;
  font-size: 32px;
  font-family: "Quicksand";
  cursor: pointer;
}

.popup-create-post .post-input {
  width: 100%;
  height: 40px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.popup-create-post .description-box {
  width: 100%;
  height: 80px !important;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.popup-create-post .description-box input {
  text-align: top;
}

.popup-create-post .post-input label {
  padding: 0;
  margin: 0 12px 0 0;
}

.popup-create-post .post-input label img {
  width: 40px;
  height: 40px;
}

.popup-create-post .post-input input {
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 4px 12px 4px 12px;
  font-family: "Quicksand";
}

.popup-create-post .post-input textarea {
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 12px;
  font-family: "Quicksand";
  resize: none;
}

.popup-create-post .create-btn {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}

.popup-create-post .create-btn button {
  width: calc(100% - 52px);
  cursor: pointer;
  font-family: "Quicksand";
  background: #535204;
  color: #CDB30C;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 16px;
}

.rateBtn{
  border: none;
  background-color: white;
  cursor: pointer;
}

.dropdown-btnp {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  position: top;
  right: 10px;
  top: 10px;
}

.dropdown-menup {
  position: relative;
  height: fit-content;
  top: 0px;
  right: 0; 
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.dropdown-menup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menup li {
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

.dropdown-menup button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

.dropdown-menup li:hover {
  background-color: #f1f1f1;
}


.dropdown-menup img{
  margin-left: 10px;
}