/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Luckiest Guy";
}

.bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #535204;
    width: 20vw;
    position: fixed;
    top: 0;
    left: 0;
}

.advertisement-container {
    display: flex;
    margin-left: 20vw; 
    width: calc(100vw - 20vw); 
    height: 100vh; 
    overflow-x: hidden;
    overflow-y: scroll;
}

.ad-screen {
    flex: 1;
    padding: 30px;
    font-size: 2rem;
    position: relative;
}

.ad-screen img {
    margin-right: 5px;
}


.pet-ads {
    padding: 30px;
    display: grid;
    grid-template-columns: 22vw 22vw 22vw;
    gap: 15px;
    margin-top: 15px;
}

/* Responsive styles for smaller screens */
@media (max-width: 1200px) {
    .ad-screen::after {
        left: 15px;
        width: calc(100% - 40px);
    }
}

@media (max-width: 992px) {
    .ad-screen::after {
        left: 10px;
        width: calc(100% - 20px);
    }
}

@media (max-width: 768px) {
    .ad-screen::after {
        left: 5px;
        width: calc(100% - 10px);
    }
}

@media (max-width: 576px) {
    .ad-screen::after {
        left: 2px;
        width: calc(100% - 4px);
    }
}

/* Responsive styles for larger screens */
@media (min-width: 1600px) {
    .ad-screen::after {
        left: 30px;
        width: calc(100% - 90px);
    }
}

@media (min-width: 1920px) {
    .ad-screen::after {
        left: 40px;
        width: calc(100% - 120px);
    }
}

.post-title{
    margin-left: 29px;
}

